/.claude
/.lock-waf_linux_build
/build
/chile DLH.png
/fondo.png
/fondo_emery.png
/fondo_frame3.png
/make_pdc.py
/package.json
/style1_basalt.png
/style1_emery.png
/style2_basalt.png
/style2_emery.png
/uno.png
/uno_design.svg
/uno_design_mini.svg